
body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}


h2 {
    margin-bottom: 20px;
}

input {
    width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px; 
    margin-top: 5px;
    outline: none;
}

.botao {
    display: block;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    background-color: #e0e0e0;
    font-weight: 600;
    transition: 0.2s;
    margin-top: 10px;
}

.botao:hover {
    background-color: #d3d3d3;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#lista {
    margin-top: 30px;
    padding: 0;
}

li {
    list-style: none;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li button {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 4px 8px;
    cursor: pointer;
}